body {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f9f9f9;
}

.bloco1 {
    display: flex;
    width: 70%;
    height: 70%;
    background-color: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    overflow: hidden;
}

.bloco.esquerda {
    flex: 1.5;
    background-color: #D9EFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.bloco.esquerda .logo {
    max-width: 50%;
    max-height: 30%;
    object-fit: contain;
    display: flex;
    justify-content: center;
    align-items: center;
}


.bloco.direita {
    flex: 1;
    background-color: #082a55;
    color: white;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.bloco.direita h1 {
    font-size: 2em;
    font-family: "Gill Sans", "Segoe UI", Arial, sans-serif;
    margin-bottom: 1px;
}

.bloco.direita p {
    font-size: 1.2em;
    font-family: "Gill Sans", "Segoe UI", Arial, sans-serif;
    margin-bottom: 25px;
}

.bloco.direita form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}


.bloco.direita input {
    padding: 10px;
    font-size: 1em;
    border: none;
    border-radius: 5px;
    font-family: "Gill Sans", "Segoe UI", Arial, sans-serif;
    outline: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.bloco.direita button {
    padding: 10px;
    font-size: 1.1em;
    color: #D9EFFF;
    background-color: #0b5ed8;
    border: none;
    border-radius: 5px;
    font-family: "Gill Sans", "Segoe UI", Arial, sans-serif;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.bloco.direita button:hover {
    background-color: #D9EFFF;
    color: #0b5ed8;
}
