body {
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
}

.paciente {
    max-width: 800px;
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 20px;
    padding: 20px;
    padding-right: 25px;
    padding-left: 25px;
    background-color: #0b5ed8;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.medico,
.atendimento,
.pagamento {
    max-width: 800px;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 50px;
    padding: 20px;
    padding-right: 25px;
    padding-left: 25px;
    background-color: #0b5ed8;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.conteudo {
    display: none;
}

.conteudo.mostrar {
    display: block;
}

.title {
    font-size: 30px;
    color: #f9f9f9;
    font-family: "Gill Sans", "Segoe UI", Arial, sans-serif;
    text-align: center;
    margin-top: 0px;
}

.bloco-pequeno {
    margin: 20px 0;
    padding: 15px;
    font-family: "Gill Sans", "Segoe UI", Arial, sans-serif;
    background-color: #f9f9f9;
    border-radius: 10px;
    border: 1px solid #d9e0ee;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
}

.adicionar {
    background-color: #D9EFFF;
    color: #4c8ded;
    border: none;
    width: 150px;
    height: 50px;
    padding: 8px 12px;
    border-radius: 8px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s;

}

.adicionar:hover {
    background-color: #4c8ded;
    color: #D9EFFF;
    border: 2px solid #D9EFFF;

}

.titulo-loc,
.titulo-info {
    font-size: 20px;
    color: #0b5ed8;
    margin-top: 5px;
    margin-bottom: 10px;
}

.search-container {
    display: flex;
    gap: 5px;
    margin-bottom: 15px;
}

.input-padrao {
    width: 85.5%;
    padding: 8px;
    border: 1px solid #d9e0ee;
    border-radius: 8px;
    font-size: 14px;
}

.search-button {
    background-color: #4c8ded;
    color: #fff;
    border: none;
    padding: 8px 12px;
    border-radius: 8px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.search-button:hover {
    background-color: #D9EFFF;
    color: #0b5ed8;
}

.tabela-padrao {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

.tabela-padrao th,
.tabela-padrao td {
    border: 1px solid #d9e0ee;
    padding: 5px;
    text-align: left;
    font-size: 14px;
    word-wrap: break-word;
}

.tabela-padrao th {
    background-color: #4c8ded;
    color: #fff;
}


.input-info {
    flex: 1;
    padding: 8px;
    border: 1px solid #d9e0ee;
    border-radius: 8px;
    font-size: 14px;
    width: 97%;
}

.sexo-opcoes input {
    margin-right: 5px;
    margin-bottom: 15px;
}

.labelsexo {
    margin-right: 15px;
    color: #082a55;
}

select.input-info {
    background-color: #fff;
    width: 770px;
    cursor: pointer;
}

.info-container {
    display: flex;
    flex-direction: column;
}

.tituloInfo {
    color: #082a55;
    margin-bottom: 8px;
}

.salvar {
    background-color: #0b5ed8;
    color: white;
    border: none;
    width: 150px;
    height: 50px;
    padding: 8px 12px;
    border-radius: 8px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin: 0 auto;
    display: block;
    margin-bottom: 25px;

}

.salvar:hover {
    background-color: #D9EFFF;
    color: #0b5ed8;
    border: 2px solid #0b5ed8;
}

.instituicoes-container {

    margin: 10px;
}

.instituicoes {
    border: 2px solid #d9e0ee;
    border-radius: 10px;
    padding: 20px;
    margin-top: 8px;

}

.tituloInst {

    top: -25px;
    background-color: #fff;
    color: #082a55;
    margin-left: -10px;
    margin-top: 8px;
    font-size: 16px;
}

.input-infoM {
    padding: 8px;
    width: 97%;
    height: 100px;
    border: 1px solid #d9e0ee;
    border-radius: 8px;
    font-size: 14px;
    resize: vertical;
    overflow-y: auto;
}

.mais{
    width: 40px;
    height: 25px;
    font-family: "Gill Sans", "Segoe UI", Arial, sans-serif;
    background-color: #0b5ed8;
    color: white;
    border: none;
    margin-top: 5px;
    font-size: 15px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.mais:hover {
    background-color: #D9EFFF;
    color: #0b5ed8;
    border: 2px solid #0b5ed8;
}